{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4>Recent Analysis Results</h4>
                </div>
                <div class="card-body">
                    <canvas id="analysisChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Quick Stats</h4>
                </div>
                <div class="card-body">
                    <div id="statsContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
